@import "macchiato.css";

* {
    font-size: 13px;
    font-family: "JetBrainsMono Nerd Font";
}

window#waybar {
    /* background: @base; */
    background: alpha(@base, 0);
}

#workspaces,
#clock,
#utils,
#system {
    background: @mantle;
    color: @text;
    padding: 2px;
    /* just setting this way high to get a semi-circle */
    border-radius: 25px;
    margin-bottom: 4px;
    margin-right: 4px;
}

#clock,
#pulseaudio,
#backlight,
#memory,
#cpu,
#battery,
#network,
#bluetooth,
#disk {
    padding: 0 10px;
}

#system {
    margin-left: 4px;
}
#clock {
    margin-right: 4px;
}

#workspaces button {
    padding: 0 2px;
    color: @text;
    transition-duration: 0s;
}
#workspaces button.active {
    color: @blue;
}
#workspaces button:hover {
    background: None;
    border: 1px solid @mantle;
    box-shadow: None;
    text-shadow: None;
}

#bluetooth.connected {
    color: @blue;
}
#bluetooth.disabled {
    color: @subtext0;
}
#battery.warning {
    color: @yellow;
}
#battery.critical {
    color: @red;
}
#cpu.warning {
    color: @yellow;
}
#cpu.critical {
    color: @red;
}
